.quote-container{
    margin-top: 20px ;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.main-container{
    background-color: black;
}

.quote-box{
    width: 450px;
    height: 200px;
    margin: 0 30px;
    border-radius: 10px;
}

.newquote{
    margin-top: 20px;
    color: white;
    float: right;
}

.author{
    text-align: right;
    color: white;
}